.admin-color {
	height: 55px;
	width: 100px;
}

.sidebar{
	z-index: 10!important;
}

.ui-widget-overlay.ui-front {
	/*z-index: 1002!important;*/
    background: #000;
    opacity: 0.5;
}

.dialog-content {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
