.breadcrumbs{
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
}

.breadcrumbs a, .breadcrumbs span{
    color: #ccc;
}

.breadcrumbs a:hover{
    color: #000;
}

.breadcrumbs span{
    margin: 0px 10px;
}