.btn-ok, .btn-cancel, .btn-warning, .btn-notice{
    border: none!important;
    border-radius: 15px;
    line-height: 30px;
    color: #fff!important;
    padding: 0 20px;
}

.btn-ok, .btn-cancel, .btn-warning, .btn-add, .btn-notice{
    cursor: pointer;
}

.btn-ok{
    background: #5cb85c!important;
}

.btn-ok:hover{
    background: #80c780!important;
}

.btn-cancel{
    background: #d9534f!important;
}

.btn-cancel:hover{
    background: #e27c79!important;
}

.btn-warning{
    background: #f0ad4e!important;
}

.btn-warning:hover{
    background: #f4c37d!important;
}

.btn-notice{
    background: #007fff!important;
}

.btn-notice:hover{
    background: #229fff!important;
}


.btn-add{
    background: transparent;
    border: none;
    font-size: 15px;
    padding-left: 0px;
}

.table-button{
    font-size: 16px;
}

/*.table-button.edit-button{
    background: url(/assets/images/edit.png) no-repeat center center;
}

.table-button.delete-button{
    background: url(/assets/images/delete.png) no-repeat center center;
}
*/
.table-button.check-button{
    background: url(/assets/images/check.png) no-repeat center center;
}

.table-button.view-button{
    background: url(/assets/images/view.png) no-repeat center center;
}

.table-button.revision-button{
    background: url(/assets/images/revision.png) no-repeat center center;
}

.table-button.users-button{
    background: url(/assets/images/users.png) no-repeat center center;
}

.table-button.copy-button{
    background: url(/assets/images/copy.png) no-repeat center center;
}

