.cabinet-menu{
    list-style-type: none;
    text-align: center;
}

.cabinet-menu li{
    display: inline-block;
    margin-right: 15px;
}

.cabinet-menu li:last-child{
    margin-right: 0;
}

.cabinet-table{
    margin-bottom: 30px;
}

.cabinet-table, .cabinet-table input, .cabinet-table select{
    width: 100%;    
}

.cabinet-table tr{
    height: 59px;
}

.cabinet-table td{
    border: 1px solid #ccc;
    padding: 5px;
}

.cabinet-table thead{
    text-align: center;
    background: #eee;
}

.cabinet-table tbody{
    font-size: 16px;
}

.cabinet-table tbody tr:hover{
    background: #f5f5f5;
}

.cabinet-table button{
    background: transparent;
    border: 0;
    padding: 2px;
    cursor: pointer;
    
}

.cabinet-table button.filter{
    background: #c4df5b;
    border-radius: 20px;
    padding: 2px 20px;
}

.cabinet-table button.filter:hover{
    background: #d7f464;
}

.cabinet-table .buttons-td{
    font-size: 12px;
}