html {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

    :focus {outline: none!important;}
    
    ::-webkit-input-placeholder {color:#ccc;}
    ::-moz-placeholder          {color:#ccc;}
    :-moz-placeholder           {color:#ccc;}
    :-ms-input-placeholder      {color:#ccc;}

    a, a:hover, button{
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear;
        text-decoration: none;
    }

    header{
        margin-bottom: 15px;
    }

    .content{
        min-height: 500px;
        margin-bottom: 30px;
    }
    
    .fw{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    .top-line{
        border-bottom: 3px solid #000;
        min-height: 40px;
        font-size: 16px;
        font-weight: 900;
    }
    .top-line a{
        color: #000;
    }
    .top-line a:hover, .top-line a.green{
        color: #c4df5b;
    }
    .border-left{
        border-left: 1px solid #000;
    }

    .title-line{
        height: 88px;
        background-image: url('../images/back.png');
        background-position: center;
        background-repeat: repeat;        
    }

    .title-line .logo-top{
        margin-right: 30px;
    }

    .title-line .form-search{
        flex-grow: 1;
        flex-shrink: 1;
    }

    .title-line .form-search input{
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        /*border: 1px solid #ccc;*/
        border: none;

        font-size: 20px;
        overflow: hidden;
        height: 45px;
        padding: 13px 20px;
        color: #2f2f2f;

    }

    .title-line .button-container{
        margin-left: 30px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .title-line .button-container a, .title-line .button-container button{
        background: #c4df5b;
        padding: 0 5px;
        font-size: 14px;
        font-weight: bold;
        height: 35px;
        color: #000;
        display: inline-block;
        line-height: 35px;
        margin-left: 10px;
        border: 0;
        cursor: pointer;
    }

    .title-line .button-container a:hover{
        background: #d7f464;
    }

    .title-line .button-container button.black{
        color: #fff;
        background: #000;
    }

    .title-line .button-container button.black:hover{
        background: #2f2f2f;
    }

    .form-login input{
        width: 157px;
        font-size: 11px;
        height: 32px;
        border: 1px solid #ccc;
        padding: 0 10px;
    }

    footer .logo-line{
        padding: 30px 0;
        background-image: url('../images/back.png');
        background-position: center;
        background-repeat: repeat;        
    }

    footer .bottom-line{
        padding: 5px 0;
        font-size: 18px;
    }

.content-item img{
    width: 100%;
    object-fit: cover;
}

.content-item{
    margin-bottom: 30px;
}

.content-item .content-item-image{
    margin-bottom: 10px;
}

.content-item a{
    color: #000;
}

.content-item .content-item-title{
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.green-btn{
    background: #c4df5b;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    color: #000;
    display: inline-block;
    line-height: 35px;
    margin-left: 10px;
}

.green-btn:hover{
    background: #d7f464;
    color: #000;
}

.content-block{
    margin-bottom: 30px;
}


/* GotoTop */
#GotoTop {
    background: url(/assets/images/arrow.png) no-repeat center center;
    text-align:center;
    padding:30px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    display:none;
    color:#000;
    font-size:14px;
    font-weight: 700;
    /*opacity: 0.9;*/

}
#GotoTop:hover{
    /*background-color: #e1f68e;*/
}

/* Tooltip */
.tooltip{
    font-size:12px;
}

.tooltip-inner{
    color:#314A5B;
    text-align:center;
    background: transparent;
}

/* Цвет стрелок Tooltip */

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
    border-top-color: #2f2f2f;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before {
    border-bottom-color: #2f2f2f;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before {
    border-right-color: #2f2f2f;
}

.tooltip.bs-tether-element-attached-right .tooltip-inner::before {
    border-left-color: #2f2f2f;
}

