.ui-widget-overlay {
    background: #000;
    opacity: .5;
    filter: Alpha(Opacity=.3);
}

.ui-dialog .ui-dialog-titlebar-close{
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	cursor: pointer;
	left: auto;
	right: 25px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px 15px;
}

.ui-widget{
    font-family: 'ProximaNova';
}
.ui-dialog-title{
    line-height: 36px;
}
#dialog-news-one{
    padding: 15px 15px 15px 15px;
    margin-left: 30px;
    position: relative;
}
.dialog-content{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ui-dialog .ui-dialog-title{
    font-weight: normal;
    width: 80%;
    margin-left: 45px;
}

.ui-dialog-content input[type="text"], .ui-dialog-content select, .ui-dialog-content textarea,
.dialog-content input[type="text"], .dialog-content select, .dialog-content textarea, .dialog-galuzes{
    border: 2px solid #d9d9d9;
    padding: 5px;
    font-size: 14px;
    /*margin-bottom: 15px;*/
}

/*.ui-dialog{
    max-height: 80%;
}*/

