.datepicker{
    text-align: center;
}


.ui-widget-overlay{
    background: #000;
    opacity: 0.5;
}

.toast-item{
	font-family: 'ProximaNova';
    border-radius: 0;
    border: 1px solid #999;
}

.toast-item p{
    padding-top: 10px;
}

fieldset label, fieldset input, fieldset textarea{
    width: 100%;
}

.ui-dialog-titlebar-close{
    border: none;
    background: transparent;
}

.ui-dialog{
    padding: 0 !important;
    overflow: hidden;
    border-radius: 10px!important;
    border: 0!important;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}
.ui-dialog-titlebar{
    border-radius: 0!important;
    /*background: #b5a1de!important;*/
    border: 0!important;
    /*color: #fff!important;*/
}

#dialog-add-subject, #dialog-add-kurs, #dialog-add-galuz{
    display: none;
}

.dialog-window input, .dialog-window select{
    width: 100%;
    /*border: 1px solid #e5e5e5;*/
}

.ui-widget-overlay.ui-front{
    background: #000;
    opacity: 0.5;
}

#plan > tbody > tr:nth-child(2n){
    background: #f3f3f3;
}

#plan > tbody > tr > td {
    padding: 5px 15px;
}

#plan, #name_plan, .plan-galuz{
    width: 100%;
}

#name_plan{
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

#plan button{
    border: none;
    background: transparent;
    cursor: pointer;
}

#plan td{
    border: 1px solid #ccc;
}

.plan-galuz tr{
    background-color: transparent;
}

.plan-galuz td{
    border: 0px !important;
}
#plan input, #plan select{width: 100%;border: 1px solid #e5e5e5;}
#plan input {padding: 2px;}
.plan-galuz input{text-align: center;}

.col1, .col2{
    width: 20%;
}
.col4{
    width: 10%;
    text-align: center;
}

.col5{width: 50%;}
.col6, .col7{width: 20%;}
