table.galuzes{
    width: 100%;
    border-radius: 5px;
}

table.galuzes td{
    padding: 5px 15px;
    border: 1px solid #d3d3d3;
}

table.galuzes thead{
    background: #f5f5f5;
}

table.galuzes thead td, table.galuzes td:nth-child(2n+1){
    text-align: center;
}

table.galuzes tbody tr:nth-child(2n+1){
    background: #f3f3f3;
}


table.galuzes .galuz-title{
    cursor: pointer;
    display: block;
}

.color-td{
    position: relative;
}
.color-td:after{
    content: ''; 
    position: absolute;
    left: 0; top: 0;
    /*border: 7px solid transparent; border-left: 7px solid green; border-top: 7px solid green;*/
}


.galuz-info{
    margin:5px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    background: #fff;
}

