/* Выдвижное меню */
#mask {
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 1;
    display:none;
}

.left-menu {
  background: #fff;
  left: -500px; /* прячем меню */
  top: 0;
  height: 100%;
  position: fixed;
  width: 500px;
  z-index: 2;
  font-size: 18px;
  /*padding: 30px 30px 30px 0;*/
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  font-weight: 800;
}

/*@media only screen and (max-width : 991px) {
	.left-menu {
    	margin-right: auto;
    	margin-left: auto;
    	padding-left: 15px;
    	padding-right: 15px;
    	width: 750px;

		position: relative;
		left: 0;
	  	overflow-y: auto;

	  	display: none;
	}

	.left-menu ul.menu{
		padding: 0;
	}

}
@media only screen and (max-width : 767px) {
	.left-menu {
		width: 100%;
	}
}
*/


.left-menu-2 {
  	overflow-y: auto;
  	display: none;
  	font-weight: 800;
}

.left-menu-2 #primary-menu {
    font-size: 16px;
    font-weight: 800;
}

.left-menu-2 ul.menu{
	padding: 0;
}



.icon-close{	
	position: absolute;
	top: 15px;
	right: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background: #000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

.icon-close i{
  line-height: 50px;
}

.left-menu ul, .left-menu-2 ul{
	list-style-type: none;
	margin: 0;
	/*padding: 0;*/
}


.left-menu li, .left-menu-2 li{
	margin-top: 10px;
}

.left-menu li a, .left-menu-2 li a{
	color: #000;
}

.icon-menu{
	cursor: pointer;
}

.left-menu li.current_page_item > a, .left-menu-2 li.current_page_item > a{
	color: #c4df5b;	
}


.icon-menu-2 {
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
	flex-grow: 0;
	flex-shrink: 0;    
}

.menu-back{

    background: #f5f5f5;

/*background: rgba(231,231,231,1);
background: -moz-linear-gradient(left, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 4%, rgba(238,238,238,1) 8%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,231,231,1)), color-stop(4%, rgba(231,231,231,1)), color-stop(8%, rgba(238,238,238,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 4%, rgba(238,238,238,1) 8%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 4%, rgba(238,238,238,1) 8%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 4%, rgba(238,238,238,1) 8%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 4%, rgba(238,238,238,1) 8%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=1 );
*/}

.hidden-menu li{
	padding: 15px 0;
	border-bottom: 1px solid #f5f5f5;
	margin-top: 0;
}
