#loginform-face form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#loginform-face form .form-login{
    flex: 1 1 1px;
}

#loginform-face form .form-login input{
    width: 100%;
    border: none;
    padding: 3px 10px;
}

#loginform-face form button{
    margin-left: 15px;
    border: none;
    /*background: #ae482f;*/
    background-image: url(../images/login.png);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 55px;
}

#loginform-face .user-short-info{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
    align-items: center;
}

#loginform-face .user-short-info .user-name{
    flex: 1 1 1px;
    font-size: 16px;
    color: #fff;
    /*border-bottom: 2px solid #ea5e3d;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    position: relative;
}

#loginform-face .user-short-info .user-name div{
    border-bottom: 2px solid #ea5e3d;
    white-space: nowrap;    
}

#loginform-face .user-short-info .user-name:after {
    content: "";
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fa7252 75%);
    display: block;
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
}

#loginform-face .user-short-info img, #loginform-face .user-short-info a{
    flex-grow: 0;
    flex-shrink: 0;
}

#loginform-face .user-short-info>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

#loginform-face .user-short-info a{
    margin-left: 5px;
}