.material-wrap{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.material-title{
    cursor: pointer;
    background: #f5f5f5;
}

.material-title, .material-excerpt{
    padding: 5px 15px;
}

.material-excerpt{
    border-top: 1px solid #d3d3d3;
}

.download, .download:hover{
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
    color: #ea7882;
    border-bottom: 1px dotted #ea7882;
}

.material-link, .material-link:hover{
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
    color: #2ba16d;
    border-bottom: 1px dotted #ea7882;
}

.download:hover, .material-link:hover{
    text-decoration: none;
}

.material-meta{
    color: #2ba16d;
    font-size: 14px;    
}