table.news{
    width: 100%;
    color: #8a949d;
    font-size: 16px;
}

table.news td{
    padding: 10px;
}

table.news thead tr{
    border-bottom: 2px solid #c8c8c8;
}

table.news tbody tr{
    border-bottom: 1px solid #d5d5d5;
}
table.news tbody tr:nth-child(2n+1){
    background: #f9f9f9;
}

table.news a, table.news a:hover{
    text-decoration: none;
    color: #656e73;
}


.news-title{    
    padding: 5px 30px;
}

.news-title i{
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    margin-right: 30px;
}

.news-item{
    position: relative;
    margin-left: 48px;
    padding: 15px 30px;
    cursor: pointer;
}

.news-item:before{
    content: "";    
    position: absolute;
    width: 8px;
    height: 8px;
    left: -4px;
    top: 23px;
    border-radius: 50%;
}

.news-title.color1{background: #e5effb;}
.news-item.color1{border-left: 1px solid #e5effb;}
.news-title.color1 i, .news-item.color1:before{background: #5ea5f7;}
.ui-dialog-titlebar.color1{background: #e5effb!important;}
.ui-dialog-titlebar.color1:before{background: #5ea5f7;}
#dialog-news-one.color1{border-left: 1px solid #e5effb;}

.news-title.color2{background: #e6f7f1;}
.news-item.color2{border-left: 1px solid #e6f7f1;}
.news-title.color2 i, .news-item.color2:before{background: #59bea0;}
.ui-dialog-titlebar.color2{background: #e6f7f1!important;}
.ui-dialog-titlebar.color2:before{background: #59bea0;}
#dialog-news-one.color2{border-left: 1px solid #e6f7f1;}

.news-title.color3{background: #fee2cd;}
.news-item.color3{border-left: 1px solid #fee2cd;}
.news-title.color3 i, .news-item.color3:before{background: #f19049;}
.ui-dialog-titlebar.color3{background: #fee2cd!important;}
.ui-dialog-titlebar.color3:before{background: #f19049;}
#dialog-news-one.color3{border-left: 1px solid #fee2cd;}


.ui-dialog-titlebar.color4{background: #ea7882!important;color:#fff;}


.news-item:last-child{
    
}

