.hexa-pagination{
    list-style-type: none;
    text-align: center;
}

.hexa-pagination li{
    display: inline-block;
}

.hexa-pagination li a, .hexa-pagination li span{
    padding: 5px 15px;
    color: #000;
    margin: 1px;
}

.hexa-pagination li span{
    background: #c4df5b;
}

.hexa-pagination li a:hover{
    background: #c4df5b;
}