table.check{
    width: 100%;
}

table.check td{
    border: 1px solid #eaeaea;
    padding: 5px 15px;
}

table.check thead td, table.check td:nth-child(2n), table.check td:nth-child(3){
    text-align: center;
}

table.check > thead  {
    background: #f3f3f3;
}

table.check > tbody > tr:nth-child(2n) {
    background: #fafafa;
}


table.basicplan{
    width: 100%;
    margin-bottom: 15px;
}
table.basicplan td{
    border: 1px solid #d3d3d3;
    padding: 5px;
}

table.basicplan thead td{
    text-align: center;
    background: #f5f5f5;
}
