table.popup{
    width: 100%;
}

table.popup td{
    border: 1px solid #d3d3d3;
    padding: 5px;
    min-width: 30px;
}

table.popup thead td{
    text-align: center;
    background: #f3f3f3;
}

table.popup .popup-plan-galuz{
    font-style: italic;
}

.border-box{
    margin-bottom: 15px;
    border: 2px solid #dfdfdf;
    padding: 5px;
    background: #fff;
}

table.popup-kors{
    table-layout: fixed;
    width: 100%;
}

table.popup-kors thead{
    text-align: center;
}

table.popup-kors td{
    border: 1px solid #dfdfdf;
    padding: 5px;
}

table.popup-kors td:first-child, table.popup-kors td:last-child{
    width: 130px;
    text-align: center;
}