.profile .col-lg-4, .profile .col-lg-6, .profile .col-lg-8{
    padding-left: 45px;
    padding-right: 45px;
}

.profile img, .profile input, .profile select{
    width: 100%;
}

.profile img{
    margin-bottom: 15px;
}

.profile input[type="text"], .profile input[type="email"], .profile input[type="password"], .profile select, .profile .entry{
    border:2px solid #d9d9d9;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.profile .entry{
    height: 119px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile .entry p{
    margin-bottom: 0;
}

.profile input[readonly]{
    background: #eee;
}

.add-photo{
    font-size: 12px;
    margin-right: 10px;
}

.delete-photo, .add-school{
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
    color: #ea7882;
    border-bottom: 1px dotted #ea7882;    
}

#dialog-add-school .dialog-content{
    height: 500px;
}

/*#dialog-add-school input, #dialog-add-school select{
    width: 100%;
}
*/
#dialog-add-school .row{
    margin-bottom: 15px;
}

table.list-schools{
    width: 100%;
}

table.list-schools thead td{
    text-align: center;
    background: #f5f5f5;
}

table.list-schools td {
    padding: 5px 15px;
    border: 1px solid #d3d3d3;
}

table.list-schools td:nth-child(1), table.list-schools td:nth-child(4){
    text-align: center;
}

