table.program-users{
    width: 100%;
    color: #727272;
    line-height: 1.2;
}

table.program-users thead td{
    text-align: center;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

table.program-users td{
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
}

table.program-users tbody tr:nth-child(2n+1){
    background: #f3f3f3;
}

table.program-users td:nth-child(3){
    text-align: center;
}

.create-program{
    cursor: pointer;
}

.program{
    color: #555;
}

.program i.fa-plus-square-o{
    background: #fff;
}

.program input, .program textarea, .program p{
    margin-bottom: 10px;
    width: 100%;
}

.program input, .program textarea{
    border: 2px solid #dfdfdf;
}

.program select{
    background: transparent;
    border: 2px solid transparent;
}

.program input, .program textarea, .program table, .program select{
    color: #666;
}

.program-info{
    margin-bottom: 30px;
}

.program-info input{
    border: 2px solid #d9d9d9;
    padding: 5px;
    font-size: 14px;    
}

.program-info input[readonly]{
    background: #f1f1f1;
}

.program-info .entry{
    height: 104px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px solid #d9d9d9;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    background: #f1f1f1;
}

.line, .problem, .opis{
    position: relative;
    border: 1px solid #ccc;
    padding: 15px 15px 15px 57px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 0;
    overflow: hidden;
}

.line{
    background: #e4e4e4;
    background-image: url(/assets/images/blue.png);
    background-repeat: repeat-y;
}

.problem{
    background: #eaeaea;
    background-image: url(/assets/images/green.png);
    background-repeat: repeat-y;
}

.opis{
    background: #f1f1f1;
    background-image: url(/assets/images/orange.png);
    background-repeat: repeat-y;
}


p.title-item{
    margin-bottom:0!important;
    font-size: 20px;
}

.line>.title-item{
    color: #447aba;
}
.problem>.title-item{
    color: #2eb398;
}
.opis>.title-item{
    color: #fb7252;
}

.minimize-item{
    position: absolute;
    top: 10px;
    left: 0;
    width: 42px;
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.copy-item{
    position: absolute;
    top: 40px;
    left: 0;
    width: 42px;
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

#program .remove-item{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 42px;
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

#program .kor .remove-item{
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
}

#program table.kors{
    width: 100%;
    table-layout: fixed;
    margin-bottom: 30px;
}

#program table.kors td{
    padding: 2px 5px;
}

#program table.kors tr:nth-child(2n) td{
    background: #dedede;
}

#program table.kors tr:nth-child(2n+1) td{
    background: #fff;
}

#program table.kors tr:nth-child(1) td{
    text-align: center;
    background: #f1f1f1;
}


#program table.kors tr td:nth-child(1){
    width: 20%;
}
#program table.kors tr td:nth-child(2){
    width: 55%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#program table.kors tr td:nth-child(2):after{
    content:"";
    display:block;
    height:100%;
    width: 10%;
    position:absolute;
    top:0;
    right: 0;
    //background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #f1f1f1 75%)
}

#program table.kors tr:nth-child(2n) td:nth-child(2):after{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #dedede 75%)
}

#program table.kors tr:nth-child(2n+1) td:nth-child(2):after{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0), #fefefe 75%)
}

#program table.kors tr:nth-child(1) td:nth-child(2):after{
    content:none;
}

#program table.kors tr td:nth-child(3){
    width: 20%;
}
#program table.kors tr td:nth-child(4){
    width: 5%;
}

#program table.kors select{
    width: 100%;
}

.kod-kor{
    position: relative;
}
.kod-kor:after{
    content: ''; 
    position: absolute;
    left: 0; top: 0;
    /*border: 7px solid transparent; border-left: 7px solid green; border-top: 7px solid green;*/
}


table.change-kors{
    width: 100%;
}
table.change-kors td{
    border: 1px solid #ccc;
}

select.name_line{
    background: #fff;
    border: 2px solid #dfdfdf;
    padding: 3px;
}


/* Частотность использования КОРов */

.left-buttons, .right-buttons{
    flex: 0 0 150px;
    color: #fff;
}

.left-buttons span, .right-buttons span{
    cursor: pointer;
    display: block;
    padding: 30px 0;
    text-align: center;
}
.left-buttons span:first-child{
    border-radius: 15px 0 0 0;
}

.left-buttons span:last-child{
    border-radius: 0 0 0 15px;
}

.right-buttons span:first-child{
    border-radius: 0 15px 0 0;
}

.right-buttons span:last-child{
    border-radius: 0 0 15px 0;
}

.central-list{
    flex: 1 1 1px;
    padding: 15px;
    background: #f2f2f2;
}
table.frequency thead{text-align: center;}
table.frequency td:nth-child(1){width: 20%;text-align: center;}
table.frequency td:nth-child(2){width: 70%;}
table.frequency td:nth-child(3){width: 10%;text-align: center;}

table.frequency tbody tr:nth-child(2n+1){
    background: #fff;
}

.background-all{
    color: #727272;
    background: #f2f2f2!important;
}