table.rivens{
    width: 100%;
    text-align: center;
}

table.rivens td{
    padding: 20px 10px;
    vertical-align: top;
}

table.rivens div{
    padding: 20px 0;
    border: 1px solid #d3d3d3;
}

table.rivens div.level1{
    background: #e5effb;
}
table.rivens div.level2{
    background: #e6f7f1;
}
table.rivens div.level3{
    background: #fee2cd;
}
table.rivens div.level4{
    background: #ea7882;
}
