table.school-users, table.school-kors{
    width: 100%;
    color: #727272;
    line-height: 1.2;
}

table.school-kors{
    table-layout: fixed;
}

table.school-kors td:nth-child(1){
    width: 120px;
}

table.school-kors td:nth-child(3){
    width: 170px;
}

table.school-kors td:nth-child(4){
    width: 80px;
    text-align: center;
}


table.school-users thead td, table.school-kors thead td{
    text-align: center;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

table.school-users td, table.school-kors td {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
}

table.school-users td:nth-child(1), table.school-users td:nth-child(3), table.school-users td:nth-child(4){
    text-align: center;
}

table.school-users tbody tr:nth-child(2n+1), table.school-kors tbody tr:nth-child(2n+1){
    background: #f3f3f3;
}


.school-title{
    margin-bottom: 30px;
}

.user-face-in-list{
    height: 90px;
}

.top-button-line{
    margin-bottom: 30px;
    font-size: 13px;
}

img.add-items{
    margin-right: 5px;
}

.table-button{
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.add-schoolkor, .add-package{
    cursor: pointer;
}

#dialog-add-schoolkor input, #dialog-add-schoolkor select, #dialog-add-schoolkor textarea{
    width: 100%;
}


#dialog-package .ui-tabs .ui-tabs-panel{
    padding: 5px 0 0 0!important;
}

#vam, #critical{
    width: 100%;
    margin-bottom: 0;
}