.form-search{
    flex: 1 1 1px;
    margin: 0 30px;
    align-items: center;
}

.form-search form{
    position: relative;
    width: 100%;
    font-size: 20px;
}

.form-search form input{
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
}

.form-search form button{
    position: absolute;
    right: 0;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
}

.result-count{
    color: #ccc;
}

.search-section-color1{
    border: 1px solid #e5effb;
}
.search-section-color1 .search-section-title{
    background: #e5effb;
}
.search-section-color2{
    border: 1px solid #d6f5e3;
}
.search-section-color2 .search-section-title{
    background: #d6f5e3;
}
.search-section-color3{
    border: 1px solid #fee2cd;
}
.search-section-color3 .search-section-title{
    background: #fee2cd;
}
.search-section-color4{
    border: 1px solid #ea7882;
}
.search-section-color4 .search-section-title{
    background: #ea7882;
}


.search-section{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.search-section-title{
    padding: 10px 15px;
    color: #2f2f2f;
}

.search-section-content{
    padding: 15px;
}

.search-section-buttons{
    padding: 0 15px 15px 15px;
}

.search-news-wrap{
    margin-bottom: 10px;
    cursor: pointer;
}

.search-news-wrap .search-news-meta{
    float: left;
    margin-right: 30px;
    color: #2ba16d;
    font-size: 14px;
}

.button-more{
    display: block;
    margin: 0 auto;
    width: 100px;
    color: #5bb85d;
    border: 2px solid #5bb85d;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
