html{
  height: 100%;
  overflow-y: scroll;
}
#sidebar{
    top: 0;
    bottom: 0;
    z-index: 2;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 250px;
    background: #273135;
    color: #89949B;
}

#loginform{
    width: 250px;
    height: 110px;
    background: #fa7252;
}

#loginform-face{
    height: 75px;
    width: 100%;
}

#loginform-buttons{
    height: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #ba4e3b;
}

#loginform-buttons li{
    position: relative;
    width: 20%;
    float: left;
    background: #de5939;
    color: #993F31;
    text-align: center;
    line-height: 35px;
    border-right: 1px solid #ba4e3b;
}

#loginform-buttons li.active, #loginform-buttons li.active a{
    background: #ba4e3b;
    color: #FA7252;
}

#loginform-buttons li a{
    display: block;
}

#scroll-box{
    height: calc(100% - 110px);
    width: calc(100% + 17px);
    overflow-y: scroll;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}


#navbar{
    /*margin-left: 250px;*/
    padding-left: 250px;
    top: 0;
    position: fixed;
    height: 75px;
    background: #273135;
    width: 100%;
    z-index: 1;
}


#body{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 250px;
    margin: 75px 0 0 0;
    color: #000;
    background: #e9f0f5;
    min-height: calc(100vh - 54px - 75px);
}


#footer{
    /*margin-left: 250px;*/
    background: #89949b;
    padding: 15px 0;
    padding-left: 250px;
    text-align: center;
    color: #CCD6DF;
}

/* Sudebar */

.sidebar-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.sidebar-menu a{
    text-decoration: none;
    color: #89949B;
}

/*
.sidebar-menu .sidebar-header {
    line-height: 1;
    font-size: 12px;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: uppercase;
    color: rgba(137,148,155,0.4);
    padding-left: 25px;
}


.sidebar-menu .sidebar-item{
    position: relative;
    max-height: 45px;
    line-height: 45px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.sidebar-menu .sidebar-item:hover, .sidebar-menu .sidebar-item.open, .sidebar-menu .submenu li:hover{
    background: #1f272a;
}


.sidebar-menu .sidebar-item a{
    display: block;
    width: 100%;
}

.sidebar-menu .sidebar-item.open{
    max-height: 450px;
    overflow: hidden;
}

.sidebar-menu .sidebar-item.open .arrow{

}

.sidebar-menu .sidebar-item .arrow{
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


.sidebar-menu .sidebar-item.open .arrow{
    transform: rotate(-90deg);
}

.sidebar-item.with-submenu{
    cursor: pointer;
}

.sidebar-menu .submenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu .submenu li{
    position: relative;
    background: #273135;
}


.sidebar-menu .active, .sidebar-menu .submenu li.active,
.sidebar-menu .active:hover, .sidebar-menu .submenu li.active:hover{
    background: #171d20;
    font-weight: bold;
}

.sidebar-menu .sidebar-item.active:after,
.sidebar-menu .submenu li.active:after {
    top: 11px;
    right: 0;
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #E9F0F5;
}

.sidebar-menu .sidebar-item.active:before,
.sidebar-menu .submenu li.active:before{
    top: 0;
    left: 0;
    height: 45px;
    content: '';
    position: absolute;
    display: inline-block;
    border-left: 5px solid #e76049;
}

.sidebar-menu .icon, .sidebar-menu .name{
    margin-left: 15px;
}

.sidebar-menu .child{
    position: relative;
    margin-left: 20px;
    width: 10px;
    display: inline-block;
    border-left: 2px solid rgba(59,70,72,0.5);
}

.sidebar-menu .child:after{
    top: 22px;
    left: 0;
    width: 10px;
    content: '';
    position: absolute;
    display: inline-block;
    border-top:  2px solid rgba(59,70,72,0.5);
}
*/

.sidebar-menu .active, .sidebar-menu .submenu li.active,
.sidebar-menu .active:hover, .sidebar-menu .submenu li.active:hover{
    background: #171d20;
    font-weight: bold;
}

.sidebar-menu .icon, .sidebar-menu .name{
    margin-left: 15px;
}

.sidebar-menu .name{
    margin-right: 15px;
}

.toggle-box{    
    position: relative;
    cursor: pointer;
}
.toggle-title{
    line-height: 1;
    font-size: 14px;
    padding: 10px 0 10px 25px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgba(137,148,155,0.4);
}
.toggle-icon{
    position: absolute;
    right: 20px;
    top: 3px;
}
.toggle-icon.toggle-open:before{
    content: "\f068";
    font-family: FontAwesome;
}
.toggle-icon.toggle-close:before{
    content: "\f067";
    font-family: FontAwesome;
}


.sidebar-item-2{
    padding: 10px 0;
    position: relative;
}

.sidebar-item-2:hover{
    background: #1f272a;
}

.sidebar-item-2 a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.sidebar-menu .icon{
    flex: 0 0 16px;
}


.sidebar-item-2.active:before {
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    position: absolute;
    display: inline-block;
    border-left: 5px solid #e76049;
}

.not-allowed, .not-allowed a{
    cursor: not-allowed;
}

.sidebar-menu hr{
    border-color:#3B4648;
    border-width:2px;
    margin-top:10px;
    margin-bottom:10px;
    width:200px;    
}

.icon{
    width: 16px;
    /*height: 16px;*/
    display: inline-block;
}

.icon.general{
    background: url(../images/general.png) 50% 50% no-repeat;
}

.icon.glossary{
    background: url(../images/glossary.png) 50% 50% no-repeat;
}

.icon.news{
    background: url(../images/news.png) 50% 50% no-repeat;
}

.icon.description{
    background: url(../images/description.png) 50% 50% no-repeat;
}

.icon.appraisal{
    background: url(../images/appraisal.png) 50% 50% no-repeat;
}

.icon.rivens{
    background: url(../images/rivens.png) 50% 50% no-repeat;
}

.icon.galuzes{
    background: url(../images/galuzes.png) 50% 50% no-repeat;
}

.icon.zors{
    background: url(../images/zors.png) 50% 50% no-repeat;
}

.icon.basic-plans{
    background: url(../images/basic-plans.png) 50% 50% no-repeat;
}

.icon.materials{
    background: url(../images/materials.png) 50% 50% no-repeat;
}

.icon.explanatory{
    background: url(../images/explanatory.png) 50% 50% no-repeat;
}

.icon.kors{
    background: url(../images/kors.png) 50% 50% no-repeat;
}

.icon.active{
    background: url(../images/active.png) 50% 50% no-repeat;
}

.icon.archive{
    background: url(../images/archive.png) 50% 50% no-repeat;
}

.icon.kors-school{
    background: url(../images/kors-school.png) 50% 50% no-repeat;
}

.icon.laws{
    background: url(../images/laws.png) 50% 50% no-repeat;
}

.icon.regulations{
    background: url(../images/regulations.png) 50% 50% no-repeat;
}

.icon.guidelines{
    background: url(../images/guidelines.png) 50% 50% no-repeat;
}

.icon.plans{
    background: url(../images/plans.png) 50% 50% no-repeat;
}

.icon.programs{
    background: url(../images/programs.png) 50% 50% no-repeat;
}

.submenu{
    list-style-type: none;
}

.submenu li{
    border-left: 2px solid #323b40;
}

.submenu li:after{
    top: 22px;
    left: 0;
    width: 10px;
    content: '';
    position: absolute;
    display: inline-block;
    border-top:  2px solid rgba(59,70,72,0.5);    
}


.sidebar-item-2.active:after {
    top: 11px;
    left: auto;
    right: 0;
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #E9F0F5;
}
