body{
    background: #e9f0f5;
}

:focus {outline: none!important;}
    
::-webkit-input-placeholder {color:#666;}
::-moz-placeholder          {color:#666;}
:-moz-placeholder           {color:#666;}
:-ms-input-placeholder      {color:#666;}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}


/* Glossary */
ul.laters{
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
}
ul.laters li{
    display: inline-block;
}
ul.laters li a{
    padding: 5px;
}
.term{
    margin: 30px;
}

/* Content */
.content-box-title{
    background: #55c9a6;
    padding: 15px 30px;
    color:#fff;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}

.content-box-title.green{
    background: #55c9a6;
}
.content-box-title.red{
    background: #fb7252;
}
.content-box-title.blue{
    background: #79afeb;
}
.content-box-title.white{
    background: #fff;
    color: #899299;
}


.content-box{
    background: #fff;
    padding: 30px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}


.fw{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#navbar-right-button{
    height: 100%;
    background: #fa7252;
    align-items: center;
    flex: 0 0 100px;
    justify-content: center;
}

#navbar-right-button a{display: block;}

#navbar a{
    text-decoration: none;
    color: #fff;
}

#loginform-face{
    padding: 10px;
    font-size: 13px;
}


table.list{
    width: 100%;
    font-size: 13px;
}

table.list input, table.list select{
    width: 100%;
}

table.list td{
    border: 1px solid #eaeaea;
    padding: 2px 5px;
}

table.list thead:nth-child(2n+1){
    background: #f5f5f5;
    text-align: center;
}

.sort{
    position: relative;
    cursor: pointer;
}
.sort span{
    position: absolute;
    top: 4px;
    right: 4px;
}
.sort span.desc:before{
    content: "\f175";
    font-family: FontAwesome;
}
.sort span.asc:before{
    content: "\f176";
    font-family: FontAwesome;
}

label{
    margin-bottom: 0;
}

#loginform-buttons a{
    color: #993F31;
}

.notification{
    position:absolute;
    bottom: 17px;
    right: 8px;
    background: #fff;
    display: block;
    line-height: 14px;
    border-radius: 50%;
    font-size: 10px;
    width: 14px;
    color:#273135;
    text-align: center;
}

.card{
    margin-bottom: 30px;
}
.card-block{
    padding: 15px;
}

.toggle-header{
    cursor: pointer;
}
