@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-LightIt.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Xbold.otf');
    font-weight: 800;
    font-style: normal;
}

body{
    font-family: "ProximaNova";
    font-size: 16px;
}

.text-right {text-align: right;}
.text-center {text-align: center;}
.text-left {text-align: left;}

h1{
    font-size: 56px;
    text-align: center;
    font-weight: bold;
}