.select-zors{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.select-zors select, .select-zors input{
	flex: 1 1 1px;
	margin: 0 15px;
}

table.zors, table.kors{
	width: 100%;
}
table.zors td, table.kors td{
	padding: 5px 15px;
	border: 1px solid #d3d3d3;
}

table.zors thead td, table.kors thead td{
	text-align: center;
	background: #f5f5f5;
}

table.kors .key{
	color: blue;
}

table.kors td{
	width: 50%;
}